*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    margin: 100px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 20px;
}

p a{
    color: blue;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}